.file-widget {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: #fafafa; 
  padding-left: 10px;
  font-size: 14px;
  line-height: 44px;
  vertical-align: middle;
}

.file-widget img {
  height: 24px;
  width: 24px;
  margin-right: 14px;
}